[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sty = "*"

[dev-packages]
sphinx = "*"
wheel = "*"
pytest = "*"
pytest-pycharm = "*"
pipenv-publisher = "*"
twine = "*"
coverage = "*"

[requires]
python_full_version = "3.9"

[setup]
name = "ezcliy"
version = "0.2.2"
author = "Krystian Postek"
author_email = "krystian@postek.eu"
description = "Framework for creating CLI tools"
license = "MIT"
url = "https://github.com/kpostekk/ezcliy"
packages = ["ezcliy"]
project_urls = {Repository = "https://github.com/kpostekk/ezcliy/", Docs = "https://ezcliy.readthedocs.io/en/latest/"}

[setup.package_data]
ezcliy = ["meta.json"]

[scripts]
build = "python setup.py bdist_wheel bdist_egg build"
slock = "pipenv-pub lock"
stamp = "pipenv-pub stamp"
pub = "pipenv-pub"

[pipenv]
allow_prereleases = true
